EventDataSize.json
[{"id":"d96319dd.f17a6","type":"ibmiot in","z":"e2f305f4.ff0d5","authentication":"apiKey","apiKey":"7685f9b5.a7db7","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":256.6666564941406,"y":421.6666603088379,"wires":[["840a2704.be34c","4f1fdbe3.9c942c","69d0dbf.cc262a4"]]},{"id":"840a2704.be34c","type":"function","z":"e2f305f4.ff0d5","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":446.6666564941406,"y":421.6666603088379,"wires":[["bb9682f5.fdb26"]]},{"id":"bb9682f5.fdb26","type":"switch","z":"e2f305f4.ff0d5","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":606.6666564941406,"y":421.6666603088379,"wires":[["5038ee29.8027a8"],["bb3c4381.2fc2f"]]},{"id":"bc98247b.196b9","type":"debug","z":"e2f305f4.ff0d5","name":"cpu status","active":false,"complete":"false","x":946.6666564941406,"y":421.6666603088379,"wires":[]},{"id":"4f1fdbe3.9c942c","type":"debug","z":"e2f305f4.ff0d5","name":"device data","active":false,"console":"false","complete":"true","x":546.6666564941406,"y":501.6666603088379,"wires":[]},{"id":"5038ee29.8027a8","type":"template","z":"e2f305f4.ff0d5","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","x":766.6666564941406,"y":401.6666603088379,"wires":[["bc98247b.196b9"]]},{"id":"bb3c4381.2fc2f","type":"template","z":"e2f305f4.ff0d5","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","x":776.6666564941406,"y":441.6666603088379,"wires":[["bc98247b.196b9"]]},{"id":"5cd3e37a.2e018c","type":"ibmiot out","z":"e2f305f4.ff0d5","authentication":"apiKey","apiKey":"7685f9b5.a7db7","outputType":"evt","deviceId":"OBD001","deviceType":"OBD","eventCommandType":"update","format":"json","data":"temp:10","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":1002.6666870117188,"y":143.66665649414062,"wires":[]},{"id":"2e338b0d.4231dc","type":"inject","z":"e2f305f4.ff0d5","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":256.6666564941406,"y":141.6666603088379,"wires":[["b3b70fe.98453f"]]},{"id":"b3b70fe.98453f","type":"function","z":"e2f305f4.ff0d5","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":476.6666564941406,"y":141.6666603088379,"wires":[["5cd3e37a.2e018c","575da281.cff9e4","296ca16b.4dd75e"]]},{"id":"575da281.cff9e4","type":"debug","z":"e2f305f4.ff0d5","name":"Debug output payload","active":true,"console":"false","complete":"payload","x":991.1904525756836,"y":250.23808574676514,"wires":[]},{"id":"2c8305c5.97d492","type":"comment","z":"e2f305f4.ff0d5","name":"1. Configure target","info":"","x":984.6666870117188,"y":97.66665649414062,"wires":[]},{"id":"df6ca1b2.d17d38","type":"comment","z":"e2f305f4.ff0d5","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":266.6666564941406,"y":181.6666603088379,"wires":[]},{"id":"73efa28a.cc64cc","type":"comment","z":"e2f305f4.ff0d5","name":"Subscribe Events","info":"","x":256.6666564941406,"y":321.6666603088379,"wires":[]},{"id":"b22fc590.9dbee8","type":"comment","z":"e2f305f4.ff0d5","name":"Configure source","info":"","x":256.6666564941406,"y":381.6666603088379,"wires":[]},{"id":"296ca16b.4dd75e","type":"function","z":"e2f305f4.ff0d5","name":"Pub_devicelength","func":"var newMsg = { payload: msg.payload.length };\nreturn newMsg;","outputs":1,"noerr":0,"x":642.1666259765625,"y":248.6666717529297,"wires":[["575da281.cff9e4"]]},{"id":"69d0dbf.cc262a4","type":"function","z":"e2f305f4.ff0d5","name":"Sub_devicelength","func":"var obj = {};\nobj.payload = {};\nobj.payload.DEVICEID = msg.deviceId;\nobj.payload.DEVICETYPE = msg.deviceType;\nvar data = JSON.stringify(msg.payload);\n//obj.data = JSON.stringify(msg.payload);\nobj.payload.DATALENGTH = data.length;\nreturn obj;","outputs":1,"noerr":0,"x":568,"y":578.5714111328125,"wires":[["f3daebb.09e0298","1ab9d100.0fe90f"]]},{"id":"f3daebb.09e0298","type":"debug","z":"e2f305f4.ff0d5","name":"","active":true,"console":"false","complete":"payload","x":879.8571166992188,"y":576.7142944335938,"wires":[]},{"id":"cd89f9da.87e19","type":"dashDB in","z":"e2f305f4.ff0d5","dashDB":"2d572468.bf608c","service":"_ext_","query":"SELECT SUM(DATALENGTH) FROM EVENTDATASIZE","params":"","name":"Read from DB","x":533,"y":700,"wires":[["4ccb8f4a.571508"]]},{"id":"83e4e4d9.52369","type":"inject","z":"e2f305f4.ff0d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":291,"y":698,"wires":[["cd89f9da.87e19"]]},{"id":"4ccb8f4a.571508","type":"debug","z":"e2f305f4.ff0d5","name":"","active":true,"console":"false","complete":"false","x":879,"y":728.6666870117188,"wires":[]},{"id":"1ab9d100.0fe90f","type":"dashDB out","z":"e2f305f4.ff0d5","dashDB":"2d572468.bf608c","service":"_ext_","table":"EVENTDATASIZE","name":"Insert to DB","x":883,"y":652,"wires":[]},{"id":"f032bae1.b159","type":"inject","z":"e2f305f4.ff0d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":285,"y":792,"wires":[["f4cbf921.ba647"]]},{"id":"f4cbf921.ba647","type":"http request","z":"e2f305f4.ff0d5","name":"usage-data-traffic","method":"GET","ret":"obj","url":"https://oztf1x.internetofthings.ibmcloud.com/api/v0002/usage/data-traffic?start=2017-12-15&end=2017-12-20&detail=true","tls":"","x":533,"y":792,"wires":[["4ccb8f4a.571508"]]},{"id":"efb24b58.427748","type":"comment","z":"e2f305f4.ff0d5","name":"Publish Events","info":"","x":248,"y":86,"wires":[]},{"id":"7685f9b5.a7db7","type":"ibmiot","z":"","name":"OBD_Key","keepalive":"60","domain":"","cleansession":true,"appId":"","shared":false},{"id":"2d572468.bf608c","type":"dashDB","z":"e2f305f4.ff0d5","hostname":"dashdb-entry-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"EventDataSize"}]